build/
build-static/
debug/
dist/
data/*
include/*
!include/darts.h
!include/COPYING.darts-clone
!include/utf8.h
!include/utf8/
!include/utf8/**
!include/X11/
!include/X11/**
lib/*
bin/*
share/*
deps/*/build/
plugins/*/
env.bat
node_modules/
*~
.*.swp
.cache/
*.7z
.DS_Store
build-rime/
